/*style css*/
body{
	background-color:#eaf0f4;
}
.headertop{
	background: #1b212c; 
}
.headertop .area{
	padding:0px;
	margin:0px;
}
.headertop .area .left{}
.headertop .area .left a{
	text-decoration:none;
	float:left;
	color:#fff;
	padding:0px 10px;
	font-family: font-family: 'Roboto', sans-serif;
	font-size:12px;
	padding-left: 0px;
}
.leftarea {
	padding: 10px 0px;
}
.headertop .area .right{}
.headertop .area .right .login{
	background-color:#1dd984;
	color:#fff;
	border-radius:0px;
	font-family: font-family: 'Roboto', sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:10px 20px;
	margin-right:10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.headertop .area .right .signup{
	background-color:#3d5ac4;
	color:#fff;
	border-radius:0px;
	font-family: font-family: 'Roboto', sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:10px 20px;
}

/* Navbar */
.navbar {
	background: #fff;
}
.navbar .navbar-brand img{
	width:80%;
	height:auto;
}
.navbar-dark .navbar-nav .nav-link {
    color: #1e2730;
	font-family: font-family: 'Roboto', sans-serif;
	padding:20px 10px;
	}
	.navbar-dark .navbar-nav .nav-link:hover {
    color: #1e2730;
	font-family: font-family: 'Roboto', sans-serif;
	}
.navbar-dark .navbar-nav li{
	padding-right:0px;
}
.navbar-dark .navbar-nav li:last-child{
	padding-right:0px;
}

.navbar-toggler {
	background-color: #a31f37;
}
/*
.navbar-nav li a{
	padding:20px 20px;
}
.navbar-nav li:hover a,
.navbar-nav li:active a,
.navbar-nav li:focus a,
.navbar-nav .active a{
	border-bottom:3px solid #3D5AC4;
	background:#E8E9EE;
	color:#1e2730 !important;
}
*/
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
   color:#fff;
	background-color:#3D5AC4;
}
.navbar-dark .nav-item ul{
	padding:0px;
	margin:0px;
	list-style:none;
	background:#3D5AC4;
	border-radius:0px;
}
.navbar-dark .nav-item ul li{
	min-width:250px;
	padding:6px 5px;
	border-bottom:1px solid #27465B;
}
.navbar-dark .nav-item ul li:hover a{
	color:black;
}
.navbar-dark .nav-item ul li:hover{
	background:#DCE5F4;
}
.navbar-dark .nav-item ul li a{
	text-decoration:none;
	color:#fff;
	width:100%;
	font-size:13px;
	font-family: font-family: 'Roboto', sans-serif;
}
.navbar-dark .nav-item ul li a{}

/*scrolupcoming events*/
.scrollup{}
.scrollup img{
	width:30px;
	height:auto;
}
.scrollup a{
	text-decoration:none;
	color:#A31F37;
	font-size:13px;
}



/* carousel */

.carousel-item{
	padding-top:10px;
	height: 100%;;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}
.carousel-item .carousel-caption{
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.carousel .carousel-caption{
	padding-bottom:40px;
}
@media(max-width:320px){
	.carousel .carousel-caption{
		display:none;
	}
}
@media(max-width:360px){
	.carousel .carousel-caption{
		display:none;
	}
}

.carousel .carousel-caption h1{
	font-size:3em;
	font-family: font-family: 'Roboto', sans-serif;
	font-weight:bold;
}
.carousel .carousel-caption h4{
	font-size:2em;
	font-family: font-family: 'Roboto', sans-serif;
	font-weight:bold;
}
.carousel .carousel-caption h4 span{
	color: #ffdb32;
}
.carousel .carousel-caption p{
	color:#fff;
	font-family: font-family: 'Roboto', sans-serif;
	width:80%;
}

.carousel .carousel-caption .mission{
	border-radius:0px;
	color:#fff;
	background-color:#3d5ac4;
	font-family: font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
}
.carousel .carousel-caption .story{
	border-radius:0px;
	color:#1b212c;
	background-color:#ffffff;
	font-family: font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	display: none; /*arrow display none*/
}
.carousel-indicators li {
	width: 15px;
	height: 15px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(255,255,255,.5);
	border-radius: 10px;
}

.carousel-indicators .active {
    background-color: #d9cd05;
}

/*upcoming section */
.nopadding{
	padding:0px;
	margin:0px;
}
.upcomingevent{
	background:#4a6ac8;
	padding-top:40px;
	padding-bottom:40px;
	margin-bottom:40px;
}
.upcomingevent .left{padding-left:0px;}
.upcomingevent .left .upoverlay{}
.upcomingevent .left .upoverlay p{
	color:#1b212c;
	background-color:#ffffff;
	margin-bottom:0px;
	padding:6px 0px;
	font-weight:bold;
	border-bottom:5px solid #111111;
}
.upcomingevent .left img{
	padding-left:0px;
	width:100%;
	height:auto;
}
.upcomingevent{}
.upcomingevent .right{}
.upcomingevent .right .area p{
	text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
.upcomingevent .right .upcomingbtn{
	margin-top:10px;
	color:#17203d;
	background-color:#ffffff;
	border-radius:10px;
	 box-shadow: 3px 10px 18px #17203d;
	 padding:10px 30px;
}
#countdown{
	margin-top:20px;
	margin-bottom:20px;
}

#countdown table tr td{
	padding:5px 10px;
	color:#fff;
	font-family: font-family: 'Roboto', sans-serif;
	font-weight:bold;
}
#countdown table td span{
	background:#1e2730;
	padding:3px 6px;
	border-radius:5px;
}
.upcomingevent .right .area h4{
	font-family: font-family: 'Roboto', sans-serif;
	color:#fff;
}

.upcomingevent .right .area p{
	font-size:12px;
	color:#fff;
	font-family: font-family: 'Roboto', sans-serif;
	width:80%;
}
.upcomingevent .right .area .joinbtn{
	background-color:#2f4ea1;
	color:#fff;
	font-family: font-family: 'Roboto', sans-serif;
	padding:10px 30px;
	text-transform:uppercase;
	font-weight:bold;
	border:1px solid #fff;
	transition:.5s;
}
.upcomingevent .right .area .joinbtn:hover{
	border:none;
	transition:.5s;
}

.ourmission{
height: 60vh;
  min-height: 250px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top:66px;
  margin-bottom:66px;
}
.ourmission .misarea{
	padding-top:40px;
}
.ourmission .misarea h4{
	color:1e2730;
	font-family: font-family: 'Roboto', sans-serif;
	font-size:2em;
}
.ourmission .misarea p{
	color:#475993;
	font-family: font-family: 'Roboto', sans-serif;
}
.ourmission .misarea .ourmsnbtn{
	background-color:#3b60ca;
	color:#fff;
	text-transform:uppercase;
	padding:10px 30px;
}

.responsibility{
	background-color:#fff;
	padding-top:40px;
	padding-bottom:40px;
}
.responsibility .center-line{
	font-family: font-family: 'Roboto', sans-serif;
	margin:10px 0px;
	color:#1b212c;
	padding:40px 0px;
	font-weight:bold;
}
.responsibility .resarea{}
.responsibility .resarea img{
	width:40%;
	height:auto;
}
.responsibility .resarea h4{
	font-family: font-family: 'Roboto', sans-serif;
	margin:10px 0px;
	color:#1b212c;
}
.responsibility .resarea p{
	color:#8f96a4;
	font-family: font-family: 'Roboto', sans-serif;
	margin:20px 0px;
	width:80%;
}

.members{
	background:#171e38;
	padding:40px 0px;
}
.members .col-md-3{
	color:#fff;
}
.members .col-md-3 .row{
	padding:46px 0px;
}
.members .micon img{

}
.members .mtext p{
	font-family:  'Roboto', sans-serif;
	font-size:3em;
	margin-bottom:0px;
}
.members .mtext h5{
	padding-top:0px;
}
.job {
	padding-top:30px;
	padding-bottom:30px;
	background-color:#ffffff;
}
.job .toph{
	padding:20px 0px;
	font-family:  'Roboto', sans-serif;
	font-size:2em;
	color:#1b212c;
	font-weight:bold;
}
.job .row{
	padding:20px 0px;
}
.job .jobarea img{
	width:30%;
	height:auto;
	padding:10px 0px;
}
.job .jobarea h4{
	font-weight:bold;
	font-family:  'Roboto', sans-serif;
}
.job .jobarea p{
	font-family: 'Roboto', sans-serif;
	padding:20px 0px;
}
.job .jobarea .jobbtnA{
	background:#56c759;
	color:#fff;
	padding:10px 50px;
	border-radius:0px;
	font-size:20px;
	text-transform:uppercase;
}
.job .jobarea .jobbtnB{
	background:#171e38;
	color:#fff;
	padding:10px 50px;
	border-radius:0px;
	font-size:20px;
	text-transform:uppercase;
}
.job .jobarea .jobbtnC{
	background:#e76768;
	color:#fff;
	padding:10px 50px;
	border-radius:0px;
	font-size:20px;
	text-transform:uppercase;
}
.job .joblistbtn{
	background:#3b60ca;
	color:#fff;
	padding:10px 40px;
	text-align:center;
	font-weight:bold;
	font-size:1em;
}

.Gallery{
	margin:40px 0px;
}
.Gallery .row{
	padding:0px 100px;

}
.Gallery  h4{
	padding:20px 0px;
	font-family: 'Roboto', sans-serif;
	font-size:2em;
	color:#1b212c;
	font-weight:bold;
}
/*
#garea ul{
	padding-bottom:36px;
	list-style:none;
}
#garea ul li{
	float:left;
	display:block;
	padding:5px 10px;
	transition:.5s;
}
#garea ul .active a,
#garea ul li:hover a{
	background: #3b60ca;
	color:#ffffff;
	transition:.5s;
}
#garea ul li a:active,
#garea ul li a:focus,
#garea ul li a:visited{
	background: #3b60ca;
	color:#ffffff;
	transition:.5s;
}
#garea ul li a{
	text-decoration:none;
	background: #dce5f4;
	color:#1b212c;
}

*/


.filter-button
{
	font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #1b212c;
    margin-bottom: 30px;
	background:#dce5f4;
	border-radius:0px;
}
.filter-button:hover
{
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #3b60ca;

}
.current{
	color: #ffffff;
    background-color: #3b60ca;
}

.filter-button .active{    background: #1565C0;
    color: #fff !important;
}


.btn-default:active .filter-button:active
{
     color: #ffffff;
    background-color: #3b60ca;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.gallery_product img{
	width:100%;
	height:auto;
	border:6px solid #fff;
	border-radius:5px;
}


.scholarshipsection{
  height: auto;
  min-height: 200px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top:66px;
  margin-bottom:66px;

}
.scholarshipsection .conarea{
	padding-top:26px;
}
.scholarshipsection h4{
	font-family:'Roboto', sans-serif;
	color:#1b212c;
	padding-top:40px;
	font-size:26px;
	font-weight:bold;
}
.scholarshipsection p{
	color:#61676b;
	font-family: 'Roboto', sans-serif;
	padding:30px 0px;
	width:60%;
	margin:0 auto;
}
.scholarshipsection .schbtn{
	background-color:#3b60ca;
	color:#ffffff;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	border-radius:0px;
	padding:10px 30px;
	margin-bottom:36px;
}

.blog{
	margin-top:30px;
  margin-bottom:60px;
}

.blog h4{
	font-family: 'Roboto', sans-serif;
	color:#1b212c;
	font-size:26px;
	font-weight:bold;
	margin-bottom:60px;
}
.blog .blogarea{}
.blog .blogarea img{
	width:100%;
	height:auto;
}
.blog .blogarea .text{
	background-color:#fff;
	padding:20px;
}
.blog .blogarea .text h5{
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	color:#1b212c;
	padding-bottom:20px;
}
.blog .blogarea .text p{
	font-family: 'Roboto', sans-serif;
	color:#1b212c;
}
.blog .blogarea .text .readmorebtn{
	background:#3b60ca;
	color:#fff;
	border-radius:0px;
	padding:5px 20px;
}

.cufooter{
	background:#171e38;
}
.cufooter .farea{}
.cufooter .farea img{
	width:80%;
	height:auto;
}
.cufooter .farea p{
	color:#fff;
	font-size:13px;
	width:100%;
	padding:10px 6px;
	font-family: 'Roboto', sans-serif;
}
.cufooter .farea .srtad{
	color:#fff;
	font-family: 'Roboto', sans-serif;
}
.cufooter .gtouch .farea{
	width:90%;
}
.cufooter .gtouch .farea h5{
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:23px;
	font-weight:bold;
	padding-top:20px;
}
.cufooter .gtouch .farea p{
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
}
.cufooter .gtouch .farea form #email{
	border-radius:0px;
	border:3px solid #3b60ca;
	width:160px;
}
.cufooter .gtouch .farea form .input-group-addon{
	background:#3b60ca;
}
.cufooter .gtouch .farea form .input-group-addon .subbtn{
	padding:10px 10px;
	background-color:#3b60ca;
	color:#fff;
}

.cufooter .gtouch .farea .social a img{
	width:34px;
	height:auto;
	padding:10px 3px;
}

.cufooter .link .farea{}
.cufooter .link .farea h5{
	color:#fff;
	font-family: font-family: 'Roboto', sans-serif;
	font-size:23px;
	font-weight:bold;
	padding-top:20px;
}
.cufooter .link .farea ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.cufooter .link .farea ul li{
	padding:3px 10px;
}
.cufooter .link .farea ul li::before{
	content: "⮚ ";
	color:#fff;

}

.cufooter .link .farea ul li a{
	text-decoration:none;
	color:#fff;
	font-family:  'Roboto', sans-serif;
	font-size:13px;
}


.cufooter .link2 .farea{}
.cufooter .link2 .farea h5{
	color:#fff;
	font-family: font-family: 'Roboto', sans-serif;
	font-size:23px;
	font-weight:bold;
	padding-top:20px;
}
.cufooter .link2 .farea ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.cufooter .link2 .farea ul li{
	padding:3px 0px;
}
.cufooter .link2 .farea ul li::before{
	content: "⮚ ";
	color:#fff;

}

.cufooter .link2 .farea ul li a{
	text-decoration:none;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
}

/*About page*/

.bcumb{
	height: auto;
  min-height: 160px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}
.bcumb .overlay{
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.bcumb .bcumbarea{
	padding-top:20px;
}
.bcumb .bcumbarea h4{
	font-family:  'Roboto', sans-serif;
	font-weight:bold;
	color:#fff;
	padding:20px 0px;
}
.bcumb .bcumbarea p{
	font-family: 'Roboto', sans-serif;
	color:#fff;
}
.bcumb .bcumbarea .abttop{
	font-family: 'Roboto', sans-serif;
	background:#3D5AC4;
	color:#fff;
	border-radius:0px;
	padding:8px 20px;
	margin-top:20px;
	margin-bottom:30px;
}

.abtcontent .area{
	margin-top:80px;
	margin-bottom:80px;
	background-color:#fff;
	padding:20px;
}
.abtcontent .area h4{
	line-height:0px;
	font-size:30px;
	font-weight:bold;
	margin-top:-36px;
	margin-bottom:30px;
	color:#fff;
	text-shadow:2px 2px #727272;
}
.abtcontent .area img{
	width:100%;
	float:left;
	padding:20px 20px;
	text-align:left;
	border-radius:10px;
}
.abtcontent .area strong{
	font-family:'Roboto', sans-serif;
	font-size:26px;
	margin-bottom:20px;
}
.abtcontent .area p{
	font-family:'Roboto', sans-serif;
	word-wrap: break-word;
	text-align: justify;
  text-justify: inter-word;
  padding:20px;
}
.commmitte{
	background:#fff;
	padding-top:60px;
	padding-bottom:60px;
}
.commmitte h4{
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	padding:20px 0px;
	font-size:28px;
	color:#171E38;
	}
.commmitte .area{}
.commmitte .area img{
	width:178px;
	height:auto;
}
.commmitte .area .overlaytext{
	background-color:#3B60CA;
}
.commmitte .area .overlaytext strong{
	font-family: font-family: 'Roboto', sans-serif;
	color:#fff;
}
.commmitte .area .overlaytext p{
	font-family: 'Roboto', sans-serif;
	color:#fff;
}

.speech{
	margin-top:80px;
	margin-bottom:80px;
	padding-bottom:20px;
}
.speech h4{
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	padding:20px 0px;
	font-size:28px;
	color:#171E38;
	margin-bottom:60px;
}
.speech .sarea{
	background-color:#fff;
	margin-bottom:4em;
	padding:1em;
}
.speech .sarea .simg{
	width:26%;
	height:auto;
	border-radius:50%;
	margin-top:-60px;
}
.speech .sarea .mbox img{
	width:15%;
	height:auto;
	padding:20px 0px;
}
.speech .sarea .mbox p{
	font-family:'Roboto', sans-serif;
	color:#7d7d7d;
	padding:20px;
	padding-bottom:40px;
}
.speech .sarea .tbox{
	background:#3B60CA;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	width:50%;
	float:right;
	margin-top:-30px;
	padding:6px;
}
.speech .sarea .tbox strong{
	font-family: 'Roboto', sans-serif;
}
.speech .sarea .tbox p{
	margin-bottom:1px;
	font-size:12px;
	color:#E5E5E5;
	font-family: 'Roboto', sans-serif;
}
.speech .sarea{}

.events{
	margin-top:60px;
	margin-bottom:60px;
}

.events{
	background:#4a6ac8;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:40px;
}
.events .left{padding-left:0px;}
.events .left .upoverlay{}
.events .left .upoverlay p{
	color:#1b212c;
	background-color:#ffffff;
	margin-bottom:0px;
	padding:6px 0px;
	font-weight:bold;
	border-bottom:5px solid #111111;
}
.events .left img{
	padding-left:0px;
	width:100%;
	height:auto;
}
.events{}
.events .right{}
.events .right .area p{
	text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
.events .right .upcomingbtn{
	margin-top:10px;
	color:#17203d;
	background-color:#ffffff;
	border-radius:10px;
	 box-shadow: 3px 10px 18px #17203d;
	 padding:10px 30px;
}
.events #countdown,
.events #countdown2
{
	margin-top:20px;
	margin-bottom:20px;
}

.events #countdown table tr td,
.events #countdown2 table tr td
{
	padding:5px 10px;
	color:#fff;
	font-family: font-family: 'Roboto', sans-serif;
	font-weight:bold;
}
.events #countdown table td span,
.events #countdown2 table td span
{
	background:#1e2730;
	padding:3px 6px;
	border-radius:5px;
}
.events .right .area h4{
	font-family: font-family: 'Roboto', sans-serif;
	color:#fff;
}

.events .right .area p{
	font-size:12px;
	color:#fff;
	font-family: font-family: 'Roboto', sans-serif;
	width:80%;
}
.events .right .area .joinbtn{
	background-color:#2f4ea1;
	color:#fff;
	font-family: font-family: 'Roboto', sans-serif;
	padding:10px 30px;
	text-transform:uppercase;
	font-weight:bold;
	border:1px solid #fff;
	transition:.5s;
}
.events .right .area .joinbtn:hover{
	border:none;
	transition:.5s;
}



.blogpage{
	margin-top:60px;
	margin-bottom:60px;
}
.blogpage .blogarea{
	padding-top:20px;
	padding-bottom:20px;
}
.blogpage .blogarea img{
	width:100%;
	height:auto;
}
.blogpage .blogarea .text{
	background-color:#fff !important;
	padding:20px;
}
.blogpage .blogarea .text h5{
	font-family: font-family: 'Roboto', sans-serif;
	font-weight:bold;
	color:1b212c;
	padding-bottom:20px;
}
.blogpage .blogarea .text p{
	font-family: font-family: 'Roboto', sans-serif;
	color:#1b212c;
}
.blogpage .blogarea .text .readmorebtn{
	background:#3b60ca;
	color:#fff;
	border-radius:0px;
	padding:5px 20px;
}

/*right sidebar*/
.blogpage .searchbar{
	background:#fff;
	padding:20px 10px;
	margin-top:20px;
}

.blogpage .input-group{
	border:1px solid #C7C6CB;
	border-radius:5px;
}
.blogpage .searchbar #search{
	border:none;
}

.blogpage .searchbar #search:focus,
.blogpage .searchbar .srchbtn:focus{
	box-shadow:none;
}
.blogpage .searchbar .srchbtn{
	border-radius:0px;
	border:none;
}
.blogpage .searchbar .srchbtn .fa-search{
	color:#C7C6CB;
}

.blogpage .searchbar{}
.blogpage .searchbar{}

/*categories*/
.blogpage .categories{
	background:#fff;
	padding:20px 10px;
	margin-top:20px;
}
.blogpage .categories h4{
	color:#2C2A2B;
	font-family: font-family: 'Roboto', sans-serif;
	padding:0px 20px;
}
.blogpage .categories .catarea{
	padding:0px 20px;
}
.blogpage .categories .catarea ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.blogpage .categories .catarea ul li{
	padding:6px;
	transition:.5s;
	border-bottom:1px solid #C2C4C3;
}
.blogpage .categories .catarea ul li:last-child{
	border:none;
}
.blogpage .categories .catarea ul li:hover{
	padding-left:10px;
	transition:.5s;
}
.blogpage .categories .catarea ul li:hover a,
.blogpage .categories .catarea ul li:hover .fa{
	color:#2C2A2B;
	transition:.5s;
}
.blogpage .categories .catarea ul li a{
	text-decoration:none;
	color:#B1B0B5;
	padding-left:5px;
	transition:.5s;
}
.blogpage .categories .catarea ul li .fa{
	color:#B1B0B5;
}


/*registration*/

.myregarea{
	background:#fff;
	padding:20px;
	margin-top:60px;
	margin-bottom:60px;
}

.myregarea .input-group{
	border:1px solid #E6E6E6;
	border-radius:5px;
}
.myregarea .input-group span{
	background-color:#E6E6E6;
	padding:5px 5px;
}
.myregarea .input-group .form-control{
	border:none;
}

/*profile*/

.profile{
	background:#fff;
	padding:40px;
	margin-top:60px;
	margin-bottom:60px;
}
.profile .box{
	border:1px solid #CCCCCC;
	border-radius:10px;
}
.profile .up .titA{
	font-size: 19px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
	font-family: font-family: 'Roboto', sans-serif;
}
.profile .up strong{}
.profile .up p{
	font-family: font-family: 'Roboto', sans-serif;
}
.profile .up u{
	font-family: font-family: 'Roboto', sans-serif;

}
.profile .table td, .table th {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.profile .table td, .table th{
	font-size:13px;
}
.profile #btnPrint{
	margin-top:20px;
}

/*registered member */

.registered{
	background:#fff;
	padding:20px;
	margin-top:60px;
	margin-bottom:60px;
}
.registered .box{
	border:1px solid #CCCCCC;
	border-radius:10px;
	padding:10px;
	font-family: 'Roboto', sans-serif;
}
.registered .box table tr td a{
	text-decoration:none;
}
.registered .result{
	font-family: 'Roboto', sans-serif;
	background:#F5F5F5;
	font-size:15px;
	}
.registered .all{
	font-family: 'Roboto', sans-serif;
	background:#F5F5F5;
	font-size:13px;
	}
.registered .all .count{
	background-color:#2D2D2D;
	color:#fff;
	padding:5px;
	border-radius:10px;
}
.registered .A{
	font-family: 'Roboto', sans-serif;
	font-size:20px;
}
.registered .B{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
}
.registered .C{
	font-family: 'Roboto', sans-serif;
	font-size:19px;
	margin-bottom:20px;
}

/*contact*/
.contact{
	background:#fff;
	padding:20px;
	margin-top:60px;
	margin-bottom:60px;
}
.contact .conarea{
	padding:40px;
}
.contact .ctit{
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	margin-bottom:40px;
}
.contact form label{
	font-weight:bold;
	font-size:13px;
	font-family: 'Roboto', sans-serif;
}
.contact form .form-control{
	border-radius:0px;
}

.contact form #send{
	background-color:#3B60CA;
	color:#fff;
	padding:6px 20px;
	border-radius:0px;
	margin-top:40px;
}

/*meeting*/
.meeting{
	background:#fff;
	padding:20px;
	margin-top:60px;
	margin-bottom:60px;
}

/*Login */
.login{
	background:#fff;
	padding:20px;
	margin-top:60px;
	margin-bottom:60px;
}

.login .imgarea img{
	width:60%;
	height:auto;
}
.login .logtit{
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	margin-bottom:20px;
}




.profile.col-md-6.col-md-offset-3 {
	margin: 0 auto;
}


.scrl a {
	text-decoration: none;
	font-size: 13px;
	color: #e22c8a;
}
.dpdf.text-center {
	margin: 20px 0px;
}

.note{
	font-size: 11px;
	text-align: justify;
}

.firstcharacter {
	color: #000;
	float: left;
	font-family: Georgia;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}

